.navbar-custom{
    background: #2d2d2d;
    font-size: 18px;
}

.navbar-brand{
    padding: 0;
}
.icon-bar {
    background-color: #34e0ff!important;
}

.navbar-nav a, .navbar-brand {
    color: #34e0ff;
}